= content_for :title_tag, "&:conf attendee details and FAQ"

%section.main-content
  %h2
    Attendee Details and FAQ
  %h3 What should I bring?
  %p
    St. Dorothy's Rest provides linens, towels, and meals, so you just need to bring the essentials:
  %ul
    %li A laptop + charger for the code retreat
    %li Clothes (layers are good, California is often cold)
    %li Toiletries
  %p If you happen to have an extra keyboard and mouse, please bring them. They will come in very handy at the code retreat.
  %h3 When should I be there?
  %p
    The conference will run
    %b Friday, August 14th at 6pm
    through
    %b Sunday, August 16th at 7pm;
    the camp will be open on Sunday night for anyone who wants to stay through Monday morning.
  %h3 Who can attend?
  %p
    We welcome attendees of all genders and backgrounds and are an emphatically
    queer and trans friendly event. You must be over age 18 to attend. If you want to attend
    and don't have a ticket code, #{ link_to "let us know", "http://goo.gl/forms/vJcWWyRykr" }!
  %h3 Where will I be staying?
  %p
    = image_tag "sdr.jpg", alt: "", class: "faq-img"
    Every ticket includes 8 meals and 3 nights lodging at the venue,
    #{ link_to "St. Dorothy's Rest", "http://stdorothysrest.org/facilities/grounds/" },
    a camp and retreat center surrounded by redwoods and rolling hills
    in Northern California. Accommodations are rustic but charming (think summer camp)
    and include a mix of bunk beds and single beds in shared or single rooms. Bathrooms are
    down the hall. We'll figure out the details of who's sleeping where closer to
    the event. If you have any accessibility concerns or questions, please email us at
    #{ mail_to "info@andconf.io" } and let us know.
  %h3 How do I get there?
  %p
    We recommend flying into SFO, since we’ll help arranged shared transportation from the San Francisco area.
    OAK and STS airports are slightly closer, but you may need to figure out your own transportation to and from the venue.
  %p
    St. Dorothy's Rest is about a 2.5 hour drive north from SFO in average traffic. We're currently looking into whether
    renting a shuttle bus or coordinating carpooling will make more sense, but rest assured, we'll help you figure out
    how to get out to &:conf.
  %h3 Is there internet or cell service?
  %p
    Come expecting to disconnect and recharge. There is limited wifi in the main
    house so you'll probably be able to check your email now and then, but don't
    expect to be video conferencing into that 8am status meeting. AT&T and Verizon
    have towers in the area, but the hills may prevent you from getting a strong mobile signal.
  %h3 What is a code retreat?
  %p
    A code retreat is a day of pair programming where you work on
    #{ link_to "the same problem", "https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" } over and over with different
    pairs and different restrictions as the day progresses.
    (The individual restrictions are a surprise! But they could include no `if` statements, only two lines
    per method, and more silliness.) Each hour, everyone deletes their code and pairs up with someone new.
  %p
    You can bring any language to the code retreat! It's especially fun if you're set up to write tests, but not mandatory.
    You won't have time to set up new dev environment during the code retreat, so if there's something new you want to try out,
    be sure to get everything installed before &:conf.

  %h3 What is an unconference?
  %p
    An unconference is an attendee-driven event where people self-organize into groups to discuss a common topic. At &:conf,
    we'll be breaking the topics into two main tracks, Yak and Hak (thanks,
    #{ link_to "Ruby DCamp", "http://evan.tiggerpalace.com/articles/2012/10/06/the-dcamp-manifesto/"}!). But there could
    be more tracks, depending on the collective will of the &:conf community.
  %p
    On Saturday night, we'll decide which specific topics to include, and then on Sunday we'll have 30 minute sessions on the topics
    that get the most votes. (This will probably be done with sticky notes and dot stickers.)

  %p
    The person who suggests a topic is usually a facilitator, but aren't necessarily a subject-matter
    expert. We expect many of the sessions to be round-table discussions, but they might also involve short
    presentations or demos, a short workshops, or something completely different!

  %h2 Tentative Schedule
  %p
    %h4 Friday, August 14
    %ul
      %li 6pm: Arrival and check in
      %li 7pm: Dinner
      %li 8pm: Welcome To &:conf!
    %h4 Saturday, August 15: Code Retreat Day
    %ul
      %li 8am: Breakfast ... and hiking?
      %li 9am: The Code Retreat kicks off!
      %li 12:30pm: Lunch
      %li 1:30pm: More Code Retreat
      %li 4pm: Free Time! Yoga? More hiking?
      %li 6pm: Dinner
      %li 7pm: Unconference planning, hanging out, and possibly s'mores?!
    %h4 Sunday, August 16: Unconference Day
    %ul
      %li 8am: Breakfast
      %li 9am: Sessions
      %li 12:30pm: Lunch
      %li 1:30pm: More Sessions
      %li 3:30pm: Break
      %li 4:00pm: Even More Sessions
      %li 6:00pm: Dinner & Closing
    %h4 Monday, August 17: Farewell
    %ul
      %li 8am: Breakfast
      %li 9am: Lounging about
      %li 11:30am: Camp closes, time to go home!
