%section.page-header
  %h1.project-name
    = link_to "&:conf", root_path
  %h2.project-tagline code retreat and unconference

%section.main-content
  %h2 Welcome to &:conf
  %p
    \&:conf, pronounced "and conf," is a code retreat and an
    unconference for intersectional feminist programmers, August 14-17,
    2015 in the woods of western Sonoma County, CA. Saturday’s code retreat will
    be a day of pair programming on one kata where each hour we throw our
    code away and work with a new person. Sunday’s unconference will have
    two tracks: yak and hack, where we'll talk about technologies,
    programming, careers, and culture.
  %p
    \&:conf will take place at
    #{ link_to "St. Dorothy's Rest", "http://stdorothysrest.org/facilities/grounds/" }
    camp and retreat center.

  %h2 Tickets
  %p
    Tickets are currently sold out! Thanks to everyone who signed up.

  %h2 Attendee Details
  %p
    See the #{ link_to "Attendee Details and FAQ", details_path } for full details about what
    to bring, how to get there, and where we'll be.

  %h2 Sponsors
  %p A huge thank you to our generous sponsors for helping to make &:conf possible:
  .sponsor-logos.clearfix
    .sponsor-col
      %h3 Diamond Sponsor
      = link_to 'http://www.ministryofvelocity.com/' do
        = image_tag 'mov.png', alt: 'Ministry of Velocity', class: 'sponsor-logo-mov'
    .sponsor-col
      %h3 Platinum Sponsors
      = link_to 'http://mailchimp.com/' do
        = image_tag 'mailchimp.png', alt: 'MailChimp', class: 'sponsor-logo-mailkimp'
      = link_to 'https://etsy.com/' do
        = image_tag 'etsy.png', alt: 'Etsy', class: 'sponsor-logo-etsy'
    .sponsor-col
      %h3 Gold Sponsors
      = link_to 'http://www.carbonfive.com/' do
        = image_tag 'c5-logo-horizontal.png', alt: 'Carbon Five', class: 'sponsor-logo-c5'
      = link_to 'http://pivotallabs.com/' do
        = image_tag 'pivotal.png', alt: 'Pivotal Labs', class: 'sponsor-logo-pivotal'
      = link_to 'http://opennews.org/' do
        = image_tag 'open-news.png', alt: 'Knight-Mozilla OpenNews', class: 'sponsor-logo-open-news'
      = link_to 'https://omadahealth.com/' do
        = image_tag 'omada-horiz.png', alt: 'Omada Health', class: 'sponsor-logo-omada'
  .sponsor-logos.clearfix
    .sponsor-col
      %h3 Diversity Scholarship Sponsors
      = link_to 'https://stripe.com/' do
        = image_tag 'stripe.png', alt: 'Stripe', class: 'sponsor-logo-stripe'
      = link_to 'https://bugsnag.com/' do
        = image_tag 'bugsnag.png', alt: 'Bugsnag', class: 'sponsor-logo-bugsnag'
    .sponsor-col
      %h3 Snack Sponsor
      = link_to 'http://www.makersquare.com/' do
        = image_tag 'makersquare.png', alt: 'MakerSquare', class: 'sponsor-logo-makersquare'
    .sponsor-col
      %h3 Sticker Sponsor
      = link_to 'http://www.stickergiant.com/' do
        = image_tag 'stickergiant.png', alt: 'StickerGiant', class: 'sponsor-logo-stickergiant'

  %h2 Code of Conduct
  %p
    \&:conf is dedicated to providing a harassment-free conference
    experience for everyone, regardless of gender, gender identity and expression,
    sexual orientation, disability, physical appearance, body size, race, age or
    religion. We do not tolerate harassment of conference participants in any form.
    Conference participants violating these rules may be sanctioned or expelled
    from the conference without a refund at the discretion of the conference
    organizers.
  %p
    Read the #{ link_to "full code of conduct", code_of_conduct_path }.

  %h2 Contact
  %p Questions? Contact the conference organizers at #{ mail_to "info@andconf.io" }.
  %h2 About the Organizers
  %p.bio
    = image_tag "lillie.jpg", alt: "Lillie Chilen"
    = link_to "Lillie Chilen", "https://twitter.com/lilliealbert"
    is a software engineer at Omada Health and a veteran open source event
    organizer. She chairs the RailsBridge board and is the CTO of Double Union, a feminist
    hacker/makerspace in San Francisco.
  %p.bio
    = image_tag "stella.jpg", alt: "Stella Cotton"
    = link_to "Stella Cotton", "https://twitter.com/practice_cactus"
    is a software engineer and project lead at Indiegogo. Coming to
    software after six years in the Financial sector, she’s passionate about building robust
    payments systems and diverse teams.
  %p.bio
    = image_tag "emily.jpg", alt: "Emily Nakashima"
    = link_to "Emily Nakashima", "https://twitter.com/eanakashima"
    is a software engineer at GitHub and a volunteer with RailsBridge.
    She writes and speaks at conferences on the topics of web performance, client-side
    monitoring, javascript patterns, and supporting diversity in technical organizations.


  %footer.site-footer
    %span.site-footer-credits
      \©2015 &:conf. Photo by
      %a{:href => "https://www.flickr.com/photos/wonderkris/7757320034/in/photolist-cPuhZ9-isxa2i-ryngt-hqoXjh-qcP4eS-qj6SCv-fHXSEx-oe889H-nWVKwv-iVy3WZ-74nXkT-ehY3Mb-oco1vj-74kzM3-nTgm1x-47a7Em-ptjDm-9TKYyh-2sme6-7xZTNa-paeRpP-bhebW8-4Ur3qQ-4GiFjt-2sme2-2smdX-2smdF-rQaVgF-ovTr1k-4GiLtp-4GnViq-p5V8Yk-isyujA-dSGHzf-74gDuV-npoWme-e6bV1b-gh4QKZ-fCtgTG-4QWwQp-bEWKV7-izXmAb-8Xqtd4-74n9yt-dP8RY4-4GiKvc-4GiK62-2QR5am-6mVpYd-5bwAXg"} wonderkris
