%section.page-header
  %h1.project-name
    = link_to "&:conf", root_path
  %h2.project-tagline code retreat and unconference

%section.main-content
  %h2 Welcome to &:conf
  %p
    \&:conf, pronounced "and conf," is a code retreat and an
    unconference for intersectional feminist web developers, August 14-17,
    2015 in the woods of Western Sonoma County. Saturday’s code retreat will
    be a day of pair programming on one kata where each hour we throw our
    code away and work with a new person. Sunday’s unconference will have
    two tracks: yak and hack, where we'll talk about technologies,
    programming, careers, and culture.
  %p
    \&:conf will take place at
    %a{:href => "http://stdorothysrest.org/facilities/grounds/"} St. Dorothy's Rest
  %h2 Code of Conduct
  %p
    \&:conf is dedicated to providing a harassment-free conference
    experience for everyone, regardless of gender, gender identity and expression,
    sexual orientation, disability, physical appearance, body size, race, age or
    religion. We do not tolerate harassment of conference participants in any form.
    Conference participants violating these rules may be sanctioned or expelled
    from the conference without a refund at the discretion of the conference
    organizers.
  %p
    Read the #{ link_to "full code of conduct", code_of_conduct_path }.

  %h2 Tickets
  %p
    Ticket codes are distributed by a diverse assortment of community leaders.
    If you have one, you should #{ link_to "buy a ticket to &:conf", "http://www.eventbrite.com/e/conf-tickets-16830620840", target: "_blank"}!
  %p
    If you have a code, you can also
    %a{:href => "https://docs.google.com/forms/d/1UUp6415niIzBoMxmhk6mxRfmgCfO-1ioc8oEZaNCt4o/viewform", :target => "_blank"} apply for a scholarship

  %h2 Attendee Details
  %p
    See the #{ link_to "Attendee Details and FAQ", details_path } for full details about what
    to bring, how to get there, and where we'll be.

  %h2 Sponsorship
  %p
    Check out our
    %a{:href => "/andconf_prospectus.pdf"} Sponsorship Prospectus
    for exciting sponsorship opportunities.
  %h2 Contact
  %p
    Questions? Contact us at #{ mail_to "info@andconf.io" }.

  %footer.site-footer
    %span.site-footer-credits
      \©2015 &:conf. Photo by
      %a{:href => "https://www.flickr.com/photos/wonderkris/7757320034/in/photolist-cPuhZ9-isxa2i-ryngt-hqoXjh-qcP4eS-qj6SCv-fHXSEx-oe889H-nWVKwv-iVy3WZ-74nXkT-ehY3Mb-oco1vj-74kzM3-nTgm1x-47a7Em-ptjDm-9TKYyh-2sme6-7xZTNa-paeRpP-bhebW8-4Ur3qQ-4GiFjt-2sme2-2smdX-2smdF-rQaVgF-ovTr1k-4GiLtp-4GnViq-p5V8Yk-isyujA-dSGHzf-74gDuV-npoWme-e6bV1b-gh4QKZ-fCtgTG-4QWwQp-bEWKV7-izXmAb-8Xqtd4-74n9yt-dP8RY4-4GiKvc-4GiK62-2QR5am-6mVpYd-5bwAXg"} wonderkris

