!!!
%html
  %head
    %title Andconf
    - # Fetch fonts in markup instead of importing from CSS so they load faster
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,700', media: 'all'
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Bree+Serif', media: 'all'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body
    %nav
      %ul
        %li
          = link_to "&:conf", root_path
        %li
          = link_to "Attendee Details and FAQ", details_path
        %li
          = link_to "Sponsorship", "/andconf_prospectus.pdf"
        %li
          = link_to "Donate", "https://www.andconf.io/donations"

    = yield

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62820008-1', 'auto');
      ga('send', 'pageview');
